@red: #FF0000;
@green: #00FF00;
@blue: #0000FF;

@yellow: #FFFF00;
@magenta: #FF00FF;
@cyan: #00FFFF;

@black: #000000;
@white: #FFFFFF;

@theme-primary: #8CB035;
@theme-secondary: #414141;

@gray-lighter: #EEEEEE;
@grey-lighter: @gray-lighter;