/*========================================================
=            	Bootstrap 3 Media Queries                =
= .col-xs-$	Phones 			Less than 768px				 =
= .col-sm-$	Small Devices	Tablets 768px and Up		 =
= .col-md-$	Medium Devices	Desktops 992px and Up		 =
= .col-lg-$	Large Devices	Large Desktops 1200px and Up =
=                                                        =
= .visible-{s} and .hidden-{s} show/hide based on size   =
==========================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .modal-dialog {
    width: 700px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .modal-dialog {
    width: 950px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .modal-dialog {
    width: 1100px;
  }
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .dashboard-tile {
    h1 {
      font-size: 22px;
    }

    &.large h1 {
      font-size: 36px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .dashboard-tile {
    h1 {
      font-size: 36px;
    }
  }

  footer {
    .col-sm-6 {
      text-align: center;
    }
  }

  .text-xs-left {
    text-align: left;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .dashboard {
    .dashboard-tile {
      height: 64px;

      h1 {
        font-size: 22px;
        margin-top: 11px;
      }
    }
  }

  #notification-button {
    right: 78px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}