@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body {
  background: @gray-lighter;
}

body, label, .checkbox label {
  font-weight: 300;
}

.bigdrop {
  width: 400px !important;
  max-width: 100% !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron';
  color: @theme-primary;
  text-transform: uppercase;
  font-weight: bold;

  a {
    text-decoration: none;
  }
}

h1 {
  line-height: 36px;
}

.alert {
  button.close {
    display: none;
  }

  &.alert-inline {
    padding: 0 10px;
    margin-bottom: 0;
  }
}

.mismatch {
  background: #E3AAAA;
}

header {
  margin-top: 52px;

  a {
    text-decoration: none;
  }
}

footer {
  border-top: 1px solid @theme-primary;
  margin-top: 10px;

  a {
    text-decoration: none;
  }
}

#myob-load {
  display: none;
}

form {
  &.row {
    margin-top: 10px;
  }
}

.btn-save {
  margin-top: 10px;
  margin-bottom: 10px;
}

label.btn {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-tabs {
  margin-left: 14px;
  margin-right: 14px;

  &>li>a {
    color: @theme-primary;
    background: lighten(@gray-lighter, 10%);
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    text-decoration: none;

    &:hover {
      background-color: darken(@theme-primary, 15%);
      color: @white;
    }
  }

  &>li.active>a {
    background-color: lighten(@theme-primary, 10%);

    &:hover {
      background-color: darken(@theme-primary, 15%);
      color: @white;
    }
  }
}

.invalid {
  color: @brand-danger;
  border-color: @brand-danger;
}

.tab-pane {
  display: none;
  &:first-of-type {
    display: block;
  }
}

a {
  color: @theme-primary;
  text-decoration: underline;

  &:hover {
    color: darken(@theme-primary, 15%);
    text-decoration: none;
  }
}

.dashboard-tile {
  background: lighten(@gray-lighter, 10%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 10px;

  &.error {
    color: #c7254e;
    background-color: #f9f2f4;
    border-color: #c7254e;

    h2 {
      color: #c7254e;
    }
  }
}

.dashboard {
  .dashboard-tile {
    height: 86px;
  }
}

nav.navbar {
  background-color: @theme-primary;

  .navbar-brand {
    color: @white;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-nav {
    li {
      a {
        color: @white;
        text-decoration: none;

        &:hover {
          background-color: darken(@theme-primary, 10%);
          color: @white;
        }
      }
    }

    li.active {
      a {
        background-color: darken(@theme-primary, 15%);

        &:hover {
          background-color: darken(@theme-primary, 10%);
          color: @white;
        }
      }
    }
  }
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background: darken(@theme-primary, 10%);
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: @white;
}

.dropdown-menu {
  background: @theme-primary;

  &.btn-dropdown {
    background: @white;
    width: 100%;
    padding: 10px;
  }
}

.btn {
  text-decoration: none;
}

table {
  tr {
    &:nth-child(odd) {
      background: #F5F5F5;
    }

    &:nth-child(even) {
      background: #FFFFFF;
    }

    &.archived {
      display: none;
    }

    th {
      padding: 5px 10px;
      border: 1px solid #CCCCCC;
      border-bottom: 2px solid #AAAAAA;
      background: #EDEDED;
    }

    td {
      padding: 5px 10px;
      border: 1px solid #CCCCCC;

      &.booked {
        background-color: lighten(@theme-primary, 30%)
      }
    }
  }

  &.staff-table, &.contact-table {
    width: 100%;
    margin: 10px 0;
  }
}

#roomlist {
  display: none !important;
}

#roomtype-image, #room-image {
  width: 100%;
  position: relative;
  height: 320px;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;

    &#fg {
      opacity: 0.5;
    }
  }
}

#outta_tassie, #internationalDetails, #studentDetails, #studentHolidayDetails {
  display: none;
}

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 400px;
  overflow-y: scroll;

  &.row {
    margin-right: 0 !important;
  }
}

/*.select2 {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}*/

.input-group.spinner {
  width: 100px;

  input {
    text-align: right;
  }

  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
  }

  .input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
  }

  .input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
  }

  .input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
  }

  .input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
  }
}

#payment-detail {
  .payment-info {
    background: @gray-lighter;
    display: none;
  }

  label {
    margin-right: 15px;
  }
}

table {
  &.hourly {
    .piece_col {
      display: none;
    }
  }

  &.piece {
    .hourly_col {
      display: none;
    }
  }
}

pre { margin-top: 60px; }

.checkbox {
  display: none;
}

span.required {
  color: @red;
}

#notification-panel {
  display: none;
  position: fixed;
  z-index: 100;
  height: 90%;
  /*max-height: 400px;*/
  overflow-y: scroll;
  background: @white;
  border: 3px solid @theme-primary;
  border-radius: 3px;
  right: 0;

  .notification {
    height: 40px;
    vertical-align: middle;

    .col-xs-1 {
      text-align: center;

      i {
        width: 30px;
        text-align: center;
      }
    }

    &:nth-child(odd) {
      background: #F0F0F0;
    }

    &.unread {
      background: #EAFFEA;

      &:nth-child(odd) {
        background: #E0F0E0;
      }
    }
  }
}

.fa-stack {
  width: 36px;
  height: 28px;
  line-height: 22px;
}

.fa-stack-half {
  height: 16px;
  width: 16px;
  font-size: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
}

.ui-datepicker {
  z-index: 2000;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.week-commencing {
  font-weight: bold;
  background-color: #AAAAAA;
}

.btn-group {
  width: 100%;

  button.first {
    width: ~"calc(100% - 25px)";
    overflow: hidden;
    text-align: left;
  }
}

#helpContents {
  position: fixed;
  overflow-y: scroll;
  right: 1px;
  height: 400px;
  top: 57px;
  background-color: #FFFFFF;
}

#signoutErrorMessage img {
  max-width: 100%;
  display: block;
}

.absentrow {
  .absent {
    display: table-cell;
  }

  .notabsent {
    display: none;
  }
}

.presentrow {
  .notabsent {
    display: table-cell;
  }

  .absent {
    display: none;
  }
}

td.workerabsent {
  text-decoration: line-through;
}

@import "includes/media_queries.less";